{% extends 'base.html' %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div>
            <h2 class="reportName">巡检报告</h2>
            <h3 class="reportCategory">B端</h3>
            <ul class="reportList">
                {% for status in status_b_list %}
                    <a href="detail_report/?report_name={{ status.report_name }}">
                        <li>
                            <p>
                                <span class="leftArea">服务IP:</span>
                                <span class="rightArea">{{ status.host_ip }}</span>
                            </p>
                            <p>
                                <span class="leftArea">系统错误:</span>
                                <span class="rightArea red">{{ status.error_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">验证失败:</span>
                                <span class="rightArea yellow">{{ status.failure_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">测试通过:</span>
                                <span class="rightArea green">{{ status.pass_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">时间:</span>
                                <span class="rightArea">{{ status.time }}</span>
                            </p>
                        </li>
                    </a>
                {% endfor %}
            </ul>
            <h3 class="reportCategory">C端</h3>
            <ul class="reportList">
                {% for status in status_c_list %}
                    <a href="detail_report/?report_name={{ status.report_name }}">
                        <li>
                            <p>
                                <span class="leftArea">服务IP:</span>
                                <span class="rightArea">{{ status.host_ip }}</span>
                            </p>
                            <p>
                                <span class="leftArea">系统错误:</span>
                                <span class="rightArea red">{{ status.error_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">验证失败:</span>
                                <span class="rightArea yellow">{{ status.failure_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">测试通过:</span>
                                <span class="rightArea green">{{ status.pass_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">时间:</span>
                                <span class="rightArea">{{ status.time }}</span>
                            </p>
                        </li>
                    </a>
                {% endfor %}
            </ul>
            <h3 class="reportCategory">H端</h3>
            <ul class="reportList">
                {% for status in status_h_list %}
                    <a href="detail_report/?report_name={{ status.report_name }}">
                        <li>
                            <p>
                                <span class="leftArea">服务IP:</span>
                                <span class="rightArea">{{ status.host_ip }}</span>
                            </p>
                            <p>
                                <span class="leftArea">系统错误:</span>
                                <span class="rightArea red">{{ status.error_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">验证失败:</span>
                                <span class="rightArea yellow">{{ status.failure_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">测试通过:</span>
                                <span class="rightArea green">{{ status.pass_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">时间:</span>
                                <span class="rightArea">{{ status.time }}</span>
                            </p>
                        </li>
                    </a>
                {% endfor %}
            </ul>
            <h3 class="reportCategory">J端</h3>
            <ul class="reportList">
                {% for status in status_j_list %}
                    <a href="detail_report/?report_name={{ status.report_name }}">
                        <li>
                            <p>
                                <span class="leftArea">服务IP:</span>
                                <span class="rightArea">{{ status.host_ip }}</span>
                            </p>
                            <p>
                                <span class="leftArea">系统错误:</span>
                                <span class="rightArea red">{{ status.error_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">验证失败:</span>
                                <span class="rightArea yellow">{{ status.failure_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">测试通过:</span>
                                <span class="rightArea green">{{ status.pass_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">时间:</span>
                                <span class="rightArea">{{ status.time }}</span>
                            </p>
                        </li>
                    </a>
                {% endfor %}
            </ul>
            <h3 class="reportCategory">W端</h3>
            <ul class="reportList">
                {% for status in status_w_list %}
                    <a href="detail_report/?report_name={{ status.report_name }}">
                        <li>
                            <p>
                                <span class="leftArea">服务IP:</span>
                                <span class="rightArea">{{ status.host_ip }}</span>
                            </p>
                            <p>
                                <span class="leftArea">系统错误:</span>
                                <span class="rightArea red">{{ status.error_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">验证失败:</span>
                                <span class="rightArea yellow">{{ status.failure_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">测试通过:</span>
                                <span class="rightArea green">{{ status.pass_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">时间:</span>
                                <span class="rightArea">{{ status.time }}</span>
                            </p>
                        </li>
                    </a>
                {% endfor %}
            </ul>
            <h3 class="reportCategory">M端</h3>
            <ul class="reportList">
                {% for status in status_m_list %}
                    <a href="detail_report/?report_name={{ status.report_name }}">
                        <li>
                            <p>
                                <span class="leftArea">服务IP:</span>
                                <span class="rightArea">{{ status.host_ip }}</span>
                            </p>
                            <p>
                                <span class="leftArea">系统错误:</span>
                                <span class="rightArea red">{{ status.error_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">验证失败:</span>
                                <span class="rightArea yellow">{{ status.failure_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">测试通过:</span>
                                <span class="rightArea green">{{ status.pass_num }}</span>
                            </p>
                            <p>
                                <span class="leftArea">时间:</span>
                                <span class="rightArea">{{ status.time }}</span>
                            </p>
                        </li>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

