{% extends 'base.html' %}
{% block content %}
    <div id="container" style="height: 640px;margin:45px 0 20px 20.5%;" class="col-md-9"></div>
    <script>
        var chart = new Highcharts.Chart('container', {
            title: {
                text: '最近一周线上功能验证统计',
                x: -20,
                style: {
                    fontSize: '22px'
                }
            },
            subtitle: {
                text: '{{ model_name }}',
                x: -20,
                style: {
                    fontSize: '16px'
                }
            },
            xAxis: {
                categories: {{ day_str_list|safe }},
                labels: {
                    style: {
                        fontSize: '12px', //刻度字体大小
                        fontFamily: '微软雅黑'
                    }
                }
            },
            yAxis: {
                title: {
                    text: '数量'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                labels: {
                    style: {
                        fontSize: '12px', //刻度字体大小
                        fontFamily: '微软雅黑'
                    }
                }
            },
            tooltip: {
                valueSuffix: '个'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Pass',
                data: {{ pass_list }}
            },{
                name: 'Fail',
                data: {{ fail_list }}
            },{
                name: 'Error',
                data: {{ error_list }}
            }]
        });
    </script>
{% endblock %}